# importing libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Reading Data

In [2]:
try:
    #url = 'https://raw.githubusercontent.com/eslam-elsyed/machine_learning_engineer_cv/refs/heads/main/data/heart_disease_cleaned.csv'
    df = pd.read_csv("heart_2020_cleaned.csv")
    print(f'Data shapeis: {df.shape}')
except Exception as e:
    print('Error message is:', e)

Data shapeis: (26382, 18)

# Information from Data

In [7]:
print('head of data:\n{0}\ndtypes:\n{1}\ninfo:{2}\nsumof nulls:\n{3}'
            .format(df.head(), df.dtypes, df.info(), df.isnull().sum()))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 919 entries, 0 to 918
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        919 non-null    int64
 1   age       919 non-null    int64
 2   sex       919 non-null    object
 3   dataset   919 non-null    object
 4   cp        919 non-null    object
 5   trestbps  919 non-null    float64
 6   chol      919 non-null    float64
 7   fbs       919 non-null    bool
 8   restecg   919 non-null    object
 9   thalch    919 non-null    float64
 10  exang     919 non-null    bool
 11  oldpeak   919 non-null    float64
 12  slope     919 non-null    object
 13  ca        919 non-null    float64
 14  thal      919 non-null    object
 15  num       919 non-null    int64
dtypes: bool(2), float64(5), int64(3), object(6)
memory usage: 102.4+ KB
head of data:
   id  age     sex    dataset               cp  trestbps   chol    fbs  \
0   1   63    Male  Cleveland   typical angina     145.0  233.0   True
1   2   67    Male  Cleveland     asymptomatic     160.0  286.0  False
2   3   67    Male  Cleveland     asymptomatic     120.0  229.0  False
3   4   37    Male  Cleveland      non-anginal     130.0  250.0  False
4   5   41  Female  Cleveland  atypical angina     130.0  204.0  False

          restecg  thalch  exang  oldpeak        slope   ca  \
0  lv hypertrophy   150.0  False      2.3  downsloping  0.0
1  lv hypertrophy   108.0   True      1.5         flat  3.0
2  lv hypertrophy   129.0   True      2.6         flat  2.0
3          normal   187.0  False      3.5  downsloping  0.0
4  lv hypertrophy   172.0  False      1.4    upsloping  0.0

                thal  num
0       fixed defect    0
1             normal    2
2  reversable defect    1
3             normal    0
4             normal    0
dtypes:
id            int64
age           int64
sex          object
dataset      object
cp           object
trestbps    float64
chol        float64
fbs            bool
restecg      object
thalch      float64
exang          bool
oldpeak     float64
slope        object
ca          float64
thal         object
num           int64
dtype: object
info:None
sumof nulls:
id          0
age         0
sex         0
dataset     0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalch      0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
num         0
dtype: int64

In [3]:
# Create DataFrame and drop rows with at least one value
# used dropna to delete rows that contains nulls
HeartDiseaseDataf = pd.DataFrame(df).dropna()
# check again the size of data:
print('new DataFrame shape is: {}'.format(HeartDiseaseDataf.shape))

for column in HeartDiseaseDataf
  # get the unique values for every column
  uniq_val = np.unique(HeartDiseaseDataf[column])
  # count the unique values for every column
  np_val = len(uniq_val)
  if np_val < 15:
    print('The number of values for feature {} : {} -- :{}'.format(column, np_val, uniq_val))
  else:
    print('The number of values for feature {} : {}'.format(column, np_val))

SyntaxError: expected ':' (<ipython-input-3-675ea603d199>, line 7)

In [4]:
# NADP is: NumberofALcoholHeartDiseasePersons
# NADP_Not is: NumberofNotALcoholHeartDiseasePersons
def AlcoholDrinking():
  NADP = 0
  NADP_Not = 0
  for Disease, Alcohol in zip(df['HeartDisease'], df['AlcoholDrinking']):
    if Disease == 1 and Alcohol == 1:
      NADP += 1
    elif Disease == 0 and Alcohol == 1:
      NADP_Not += 1
  NADPPeracentage =

SyntaxError: invalid syntax (<ipython-input-4-db988a12a8e7>, line 11)